@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

* {
  padding: 0%;
  margin: 0%;
  /* background-color: #1e6f50; */
  color: white;
  font-family: "Silkscreen", sans-serif;
}

body {
  background-color: #1e6f50;
  /* height: 6000px; */
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  overflow-x: hidden;
}

header {
  height: 100vh;
}

/* NAV */

.nav-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  opacity: 0;
}
ul {
  display: flex;
  gap: 50px;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.5s ease-in-out;
}

.search {
  color: white;
  visibility: hidden;
}

li {
  list-style: none;
  transition: all 0.5s ease-in-out;
  padding: 5px;
  cursor: pointer;
}

li:hover {
  /* border-bottom: 1px solid white; */
  transform: scale(1.1);
}

.link {
  text-decoration: none;
  border: 1px solid #1e6f50;
  overflow: hidden;
}

/* SECTION--1 */
.section--1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
}

.header-color {
  opacity: 0;
  height: 100vh;
}

.right {
  grid-area: 1;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.section--1-title {
  font-size: 4rem;
  width: 100%;
}

.section--1-text {
  font-size: 1.1rem;
  line-height: 2;
}

.hero-text {
}

.btn {
  color: white;

  display: flex;
  padding: 5px 0;
  margin-top: 30px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
  border: 1px solid #1e6f50;
}

.btn:hover {
  border: 1px solid white;
}

.mobile {
  /* visibility: hidden; */
  display: none;
}

/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
@media screen and (max-width: 1000px) {
  .container {
    width: 95%;
    padding: 20px 0;
  }

  ul {
  }

  li {
    font-size: 0.7rem;
  }

  .section--1 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 40px;
  }
  .section--1-text {
    font-size: 0.8rem;
    line-height: 2;
  }

  .section--1-title {
    font-size: 1.7rem;
    /* width: 100%; */
  }

  svg {
    width: 100%;
    height: auto;
  }

  .left {
    width: 100%;
  }

  /* BTN */
  .mobile {
    display: flex;
    width: 100%;
  }

  .desktop {
    display: none;
  }
}
